<link href="/css/menu.css" rel="stylesheet"/>
<input type="checkbox" id="ham-menu">
<label for="ham-menu">
  <div class="hide-des">
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
  </div>

</label>
<div class="full-page-green"></div>
<div class="ham-menu">
  <ul class="centre-text bold-text">
    <li onclick="location.href='http://localhost:4000/debugger/events/';">Contraordenações</li>
    <li onclick="location.href='http://localhost:4000/debugger/vehicles/';">Veículos</li>
    <li onclick="location.href='http://localhost:4000/debugger/delegacoes/';">Delegações</li>
  </ul>
</div>    

<head>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="home-page">
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <h1 style="text-align:left;color:azure;margin: 30px;"> Bem vindo ao simulador SCOT</h2>
        <br></br>
        <h2 style="text-align:left;color:azure;margin: 30px;"> O simulador SCOT é responsável por fazer o processamento das contraordenações.</h3>
        <h2 style="text-align:left;color:azure;margin: 30px;"> Para aceder ao menu carregue no canto superior esquerdo.</h3>
    </div>
</body>
    